.carousel-control-prev-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
 }

.carousel-control-next-icon {
   background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
 }

 .carousel-indicators .active {
     background-color: black;
 }

 .CodeMirror {
     font-size: 20px;
 }
